<div class="card shadow border-0 mt-4">

    <div class="card-header bg-body bg-gradient ml-0 py-3">

        <div class="row">

            <h1 class="text-white-50"> Order List</h1>

        </div>
    </div>

    <div class="card-body p-4">

        <table id="tblData" class="table table-bordered table-striped pt-3" style="width:100%">
            <thead>
                <tr>
                    <th class="bg-gradient">ID</th>
                    <th class="bg-gradient">Email</th>
                    <th class="bg-gradient">Name</th>
                    <th class="bg-gradient">Phone</th>
                    <th class="bg-gradient">Status</th>
                    <th class="bg-gradient">Total</th>
                    <th class="bg-gradient">Edit</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

@section Scripts{
    <script src="~/js/OrderData.js"></script>
}