@{
    var status = Context.Request.Query["status"];
    var Approved = "";
    var ReadyToPickup = "";
    var Cancelled = "";
    var All = "";

    switch (status)
    {
        case nameof(Approved):
            Approved = "active text-white bg-secondary";
            break; 
        case nameof(ReadyToPickup):
            ReadyToPickup = "active text-white bg-secondary";
            break;
        case nameof(Cancelled):
            Cancelled = "active text-white bg-secondary";
            break; 
        default:
            All = "active text-white bg-secondary";
            break;
    }
}

<div class="card shadow border-0 mt-4">

    <div class="card-header bg-body bg-gradient ml-0 py-3 d-flex justify-content-between">

        <div class="row">

            <h1 class="text-white-50"> Order List</h1>
        </div>
        <ul class="list-group list-group-horizontal-sm pt-2">
            <a style="text-decoration:none" asp-controller="Order" asp-action="OrderIndex" asp-route-status="Approved">
            <li class="list-group-item @Approved ">Approved</li>
            </a>
            <a style="text-decoration:none" asp-controller="Order" asp-action="OrderIndex" asp-route-status="ReadyToPickup">
            <li class="list-group-item @ReadyToPickup ">Ready For Pick Up</li>
            </a>
            <a style="text-decoration:none" asp-controller="Order" asp-action="OrderIndex" asp-route-status="Cancelled">
            <li class="list-group-item @Cancelled ">Cancelled</li>
            </a>
            <a style="text-decoration:none" asp-controller="Order" asp-action="OrderIndex" asp-route-status="All">
            <li class="list-group-item @All ">All</li>
            </a>
        </ul>
    </div>

    <div class="card-body p-4">

        <table id="tblData" class="table table-bordered table-striped pt-3" style="width:100%">
            <thead>
                <tr>
                    <th class="bg-gradient">ID</th>
                    <th class="bg-gradient">Email</th>
                    <th class="bg-gradient">Name</th>
                    <th class="bg-gradient">Phone</th>
                    <th class="bg-gradient">Status</th>
                    <th class="bg-gradient">Total</th>
                    <th class="bg-gradient">Edit</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

@section Scripts{
    <script src="~/js/OrderData.js"></script>
}