@model int

<div class="text-center">

    <h1 class="text-info pt-4"> Greeting ! You Are One Step Closer To Your Tasty Food.</h1>
    <p class="pb-3" > We Have Receive Your Order, Will Be ready on 30 mins During Business Hours !!</p>
    <h4 class="text-warning pb-3"> Order ID - @Model</h4>
    <img src="/images/cute-teddy-bear.PNG" width="70%" />
</div>
